#team{
    
    #team-slider{
        margin: 10px 0 100px 0;
        position: relative;
        
        .arrows{
            display: flex;
            justify-content: flex-end;
            margin-right: 95px;
            .team-slider-right{
                border-radius: 3px;
                background-color: #fff;
                border: 1px solid #c4c4c4;
                width: 32px;
                height: 32px;
                margin-right: 10px;
                position: relative;
                cursor: pointer;
                &:hover{
                    border: 1px solid rgba(0,0,0,.78);
                    svg{
                        fill: rgba(0,0,0,.78);
                    }
                }
                svg{

                    position: absolute;
                    left: 32.29%;
                    right: 3.12%;
                    top: 27%;

                    fill: #c4c4c4;
                    height: 15px;
                    width: 13px;
                    transform: scaleX(-1);
                }
            }
            .team-slider-left{
                border-radius: 3px;
                background-color: #fff;
                border: 1px solid #c4c4c4;
                width: 32px;
                height: 32px;
                margin-right: 10px;
                position: relative;
                cursor: pointer;
                &:hover{
                    border: 1px solid rgba(0,0,0,.78);
                    svg{
                        fill: rgba(0,0,0,.78);
                    }
                }
                svg{
                    position: absolute;
                    left: 32.29%;
                    right: 3.12%;
                    top: 27%;
                    fill: #c4c4c4;
                    height: 15px;
                    width: 13px;
                }
            }
            @media only screen and (max-width: 768px) {
                position: absolute;
                bottom: -60px;
                right: 0px;
            
            }
            @media only screen and (max-width: 650px) {
                right: -60px;
            
            }
            @media only screen and (max-width: 400px) {
                right: -90px;
            
            }
        }
        ul{
            padding-left: 0 !important;
            margin: 30px 0;
            .team-slider-item{
            display: none;
             
            }
            .team-slider-item.active{
                width: 100% !important;
                margin: 0;
                padding: 0;
                display: grid;
                grid-template-columns: repeat(2,44%);
                grid-gap: 40px 115px;
                justify-content: center;
                transition: .5s ;
                @media only screen and (max-width: 992px) {
                    grid-template-columns: 100%;
                    grid-gap: 20px;
                }
             
            }
         }
        .card{
            background-color: rgb(250, 250, 250);
            width: 100%;
            height: 272px;
            border-radius: 18px;
            box-shadow: 0 6px 14px rgba(8, 8, 8, 0.08);
            display: flex;
            flex-direction: column;
            @media only screen and (max-width: 768px) {
                height: 275px;
            }
            @media only screen and (max-width: 500px) {
                height: 262px;
            }
            @media only screen and (max-width: 450px) {
                height: 217px;
            }
            .card__body{
                display: flex;
                flex-direction: row;
                height: 210px;
                padding: 22px 32px 15px;
                @media only screen and (max-width: 768px) {
                    padding: 22px 15px 15px;
                }
                @media only screen and (max-width: 330px) {
                    padding: 10px 5px 8px;
                    height: 140px;
                }
                
                .image{
                    width: 155px;
                    height: 157px;
                    margin-right: 21px;
                    @media only screen and (max-width: 768px) {
                        width: 30%;
                        height: 30%;
                    }
                    @media only screen and (max-width: 450px) {
                        margin-right: 15px;
                        width: 120px;
                        height: 120px;
                    }
                    @media only screen and (max-width: 330px) {
                        width: 30%;
                        height: 30%;
                        margin-right: 10px;
                    }
                    
                    img{
                        width: 155px;
                        height: 155px;
                        object-fit: cover;
                        background-repeat: no-repeat;
                        border-radius: 14px;
                        margin-top: 4px;
                        @media only screen and (max-width: 768px) {
                            width: 140px;
                            height: 160px;
                        }
                        @media only screen and (max-width: 450px) {
                            width: 115px;
                            height: 124px;
                        }
                        @media only screen and (max-width: 330px) {
                            width: 78px;
                            height: 103px;
                        }
                        
                    }
                    
                }
                .details{
                    margin: 15px 0 0;
                    @media only screen and (max-width: 450px) {
                        margin: 10px 0 0;
                    }
                    
                    h5{
                        color: $color-primary;
                        font-size: 20px;
                        line-height: 21px;
                        font-weight: 600;
                        margin-bottom: 5px;
                        @media only screen and (max-width: 450px) {
                            font-size: 16px;
                            line-height: 17px;
                            margin-bottom: 2px;
                        }
                        
                    }
                    .position{
                        color: rgba(177,151,4,.96);
                        font-size: 16px;
                        line-height: 17px;
                        margin-bottom: 20px;
                        @media only screen and (max-width: 450px) {
                            font-size: 12px;
                            line-height: 13px;
                            margin-bottom: 2px;
                        }
                        
                    }
                    .email , .mobile{
                        color: $color-black;
                        font-size: 14px;
                        line-height: 21px;
                        @media only screen and (max-width: 450px) {
                            font-size: 10px;
                        }
                    }
                }
            }
            .card__footer{
                border-top: 1px solid rgba(51,92,103,.2);
                margin: 6px 15px 0;
                p{
                    margin-top: 5px;
                    text-align: right;
                    margin-bottom: 22px;
                    a{
                        text-decoration: underline $color-primary!important;
                        color: $color-primary;
                        font-size: 14px;
                        line-height: 21px;
                    }
                }
            }
        }
    }
    
}