
@mixin flexbox($flex: flex, $justifyContent: space-between, $alignItems: center) {
    display: $flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $color-primary;
}

body{
    height: auto;
    overflow-y: scroll;
    
    &::-webkit-scrollbar {
        width: 7px;
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(51,92,103,.5);
        &:hover{
            background-color: $color-primary;
        }
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
    }
}