@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800&family=Poppins:ital,wght@1,500&display=swap");
#footer {
  background-color: #335c67;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
  width: 100%;
  padding: 57px 0 20px;
}

@media only screen and (max-width: 600px) {
  #footer {
    padding: 57px 20px 20px;
  }
}

#footer .footer__left, #footer .footer__center, #footer .footer__right {
  padding: 0 30px;
}

@media only screen and (max-width: 992px) {
  #footer .footer__left, #footer .footer__center, #footer .footer__right {
    padding: 0;
  }
}

#footer .footer__head h4 {
  color: #fff;
  margin-bottom: 43px;
  font-size: 23px;
  font-weight: 700;
  line-height: 28px;
}

@media only screen and (max-width: 600px) {
  #footer .footer__left_content {
    margin-bottom: 50px;
  }
}

#footer .footer__left_content ul {
  padding: 0;
}

#footer .footer__left_content ul li {
  font-size: 20px;
  line-height: 28px;
  max-width: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

#footer .footer__left_content ul li a {
  color: #fff;
}

#footer .footer__left_content ul li:not(:last-child) {
  border-bottom: 1px solid grey;
}

@media only screen and (max-width: 600px) {
  #footer .footer__center_content {
    margin-bottom: 50px;
  }
}

#footer .footer__center_content img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

#footer .footer__center_content .certificate-item {
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  #footer .footer__right_content {
    margin-bottom: 50px;
  }
}

#footer .footer__right_content .content__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

#footer .footer__right_content .content__row .content_icon {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin-right: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px;
}

#footer .footer__right_content .content__row .content_text {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #fff;
}

#footer .footer__right_content .content__social {
  margin-top: 20px;
}

#footer .footer__right_content .content__social a {
  margin-right: 25px;
}

#footer .footer__right_content .content__social a:hover svg path {
  fill: #cec27b;
}

#footer .footer__copyright {
  padding-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  font-size: 16px;
}

#footer .footer__copyright a {
  color: #fff;
  line-height: 24px;
  font-weight: 500;
}

#footer {
  background-color: #335c67;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
  width: 100%;
  padding: 57px 0 20px;
}

@media only screen and (max-width: 600px) {
  #footer {
    padding: 57px 20px 20px;
  }
}

#footer .footer__left, #footer .footer__center, #footer .footer__right {
  padding: 0 30px;
}

@media only screen and (max-width: 992px) {
  #footer .footer__left, #footer .footer__center, #footer .footer__right {
    padding: 0;
  }
}

#footer .footer__head h4 {
  color: #fff;
  margin-bottom: 43px;
  font-size: 23px;
  font-weight: 700;
  line-height: 28px;
}

@media only screen and (max-width: 600px) {
  #footer .footer__left_content {
    margin-bottom: 50px;
  }
}

#footer .footer__left_content ul {
  padding: 0;
}

#footer .footer__left_content ul li {
  font-size: 20px;
  line-height: 28px;
  max-width: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

#footer .footer__left_content ul li a {
  color: #fff;
}

#footer .footer__left_content ul li:not(:last-child) {
  border-bottom: 1px solid grey;
}

@media only screen and (max-width: 600px) {
  #footer .footer__center_content {
    margin-bottom: 50px;
  }
}

#footer .footer__center_content img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

#footer .footer__center_content .certificate-item {
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  #footer .footer__right_content {
    margin-bottom: 50px;
  }
}

#footer .footer__right_content .content__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

#footer .footer__right_content .content__row .content_icon {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin-right: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px;
}

#footer .footer__right_content .content__row .content_text {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #fff;
}

#footer .footer__right_content .content__social {
  margin-top: 20px;
}

#footer .footer__right_content .content__social a {
  margin-right: 25px;
}

#footer .footer__right_content .content__social a:hover svg path {
  fill: #cec27b;
}

#footer .footer__copyright {
  padding-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  font-size: 16px;
}

#footer .footer__copyright a {
  color: #fff;
  line-height: 24px;
  font-weight: 500;
}

#header {
  width: 100%;
  background-color: rgba(51, 92, 103, 0.5);
  opacity: 1;
  z-index: 100;
  position: fixed;
}

@media only screen and (max-width: 992px) {
  #header {
    background-color: #335c67;
    position: static;
  }
}

#header .header-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .header-navbar .nav-item {
  margin-right: 20px;
}

#header .header-navbar .nav-item .nav-link {
  font-size: 13px;
  line-height: 23px;
  font-weight: 500;
  color: #fff !important;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

#header .header-navbar .nav-item .nav-link:hover {
  background-color: rgba(116, 115, 115, 0.4);
}

#header .header-navbar .nav-item .dropdown-menu {
  background-color: #fff;
  border-radius: 18px !important;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  overflow: hidden;
}

#header .header-navbar .nav-item .dropdown-menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .header-navbar .nav-item .dropdown-menu li .dropdown-item {
  color: #335c67 !important;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
}

#header .header-navbar .nav-item .dropdown-menu li .dropdown-item:hover {
  background-color: #fff;
  font-weight: 700;
}

#header .header-navbar .nav-item .dropdown-menu li::before {
  content: "•";
  color: #cec27b;
  font-weight: bold;
  display: inline-block;
  font-size: 20px;
  margin-left: 10px;
}

#header .header-navbar .search {
  cursor: pointer;
}

#header .header-navbar .search_open {
  display: none;
}

#header .header-navbar .search_open .search_body {
  position: relative;
}

#header .header-navbar .search_open .search_body .search-input {
  background-color: rgba(172, 172, 172, 0.41);
  border: 1px solid rgba(172, 172, 172, 0.41) !important;
  border-radius: 18px;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  width: 586px;
  font-size: 15px;
}

#header .header-navbar .search_open .search_body .search-input::-webkit-input-placeholder {
  color: #fff;
}

#header .header-navbar .search_open .search_body .search-input:-ms-input-placeholder {
  color: #fff;
}

#header .header-navbar .search_open .search_body .search-input::-ms-input-placeholder {
  color: #fff;
}

#header .header-navbar .search_open .search_body .search-input::placeholder {
  color: #fff;
}

#header .header-navbar .search_open .search_body .search_body_icon {
  position: absolute;
  right: 2%;
}

#header .header-navbar .search_open .close {
  margin-left: 10px;
  cursor: pointer;
}

#header .header-navbar .search_open.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .header-navbar .header__languages {
  margin-left: 20px;
}

#header .header-navbar .header__languages .langs-btn {
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 14px;
}

#header .header-navbar .header__languages .dropdown-menu {
  min-width: 100%;
}

#header .header-navbar .header__languages .dropdown-menu .dropdown-item {
  font-size: 14px;
}

#header .header-navbar .header__languages .dropdown-menu .dropdown-item:hover {
  background-color: #fff;
}

@media only screen and (max-width: 992px) {
  #header .header-navbar .header__languages {
    display: none;
  }
}

#header .header-navbar .responsive-icons {
  display: none;
  margin-left: 20px;
  cursor: pointer;
}

@media only screen and (max-width: 992px) {
  #header .header-navbar .responsive-icons {
    display: block;
  }
}

#header .header-navbar .responsive-icons .responsive-icon-close {
  display: none;
  width: 65%;
}

@media only screen and (max-width: 992px) {
  #header .header-navbar .navbar-collapse {
    display: none;
  }
}

#header .mobile__navbar {
  display: none;
  background-color: #fff;
  width: 80%;
  height: 732px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 80px;
  right: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  opacity: 1;
  z-index: 100;
  position: fixed;
  overflow: scroll;
}

#header .mobile__navbar .mobile-nav-item {
  font-size: 15px;
  line-height: 23px;
  font-weight: 500;
  color: #000;
  margin-bottom: 24px;
}

#header .mobile__navbar .mobile-nav-item .arrow {
  margin-left: 5px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

#header .mobile__navbar .mobile_langs {
  margin: 9px 0 20px 13px;
}

#header .mobile__navbar .mobile_langs .mobile_lang {
  color: rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  cursor: pointer;
  margin: 10px 5px;
  font-size: 18px;
}

#header .mobile__navbar .mobile-list-back {
  font-size: 15px;
  line-height: 23px;
  font-weight: 500;
  color: #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding-bottom: 10px;
  padding: 0 !important;
  margin-bottom: 10px;
}

#header .mobile__navbar .mobile-list-back .mobile-list-back-body {
  margin: 0 0 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .mobile__navbar .mobile-list-back .mobile-list-back-body img {
  margin-right: 10px;
}

#header .mobile__navbar.active {
  display: block;
}

#header .mobile-list {
  display: none;
  padding: 0;
}

#header .mobile-list .mobile-nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
}

#header .mobile-list:not(:first-child) li::before {
  content: "•";
  color: #cec27b;
  font-weight: bold;
  display: inline-block;
  font-size: 20px;
  margin-right: 10px;
}

#header .mobile-list.active {
  display: block;
}

.partners-slider {
  overflow: hidden;
  position: relative;
}

.partners-slider .partners-slider-item {
  margin-right: 20px;
}

.partners-slider .slick-track {
  width: -webkit-max-content !important;
  width: -moz-max-content !important;
  width: max-content !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partners-slider .slick-track img {
  width: 100%;
  height: 113px;
}

.partners-slider .slick-list {
  margin-top: 35px;
}

.partners-slider .left {
  cursor: pointer;
  position: absolute;
  right: 7%;
  border: 1px solid rgba(0, 0, 0, 0.78);
  border-radius: 3px;
  background-color: #fff;
  padding: 8px 12px;
  z-index: 2;
}

@media only screen and (max-width: 992px) {
  .partners-slider .left {
    right: 10%;
  }
}

@media only screen and (max-width: 768px) {
  .partners-slider .left {
    right: 12%;
  }
}

@media only screen and (max-width: 576px) {
  .partners-slider .left {
    right: 15%;
  }
}

.partners-slider .right {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 3%;
  border: 1px solid rgba(0, 0, 0, 0.78);
  border-radius: 3px;
  background-color: #fff;
  padding: 8px 12px;
}

@media only screen and (max-width: 576px) {
  .partners-slider .right {
    right: 5%;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #335c67;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiGyp8kv8JHgFVrLPTucXtAKPY.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiGyp8kv8JHgFVrLPTufntAKPY.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiGyp8kv8JHgFVrLPTucHtA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLFj_Z11lFc-K.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLFj_Z1JlFc-K.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLFj_Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z11lFc-K.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z1JlFc-K.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z11lFc-K.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z11lFc-K.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1JlFc-K.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z11lFc-K.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1JlFc-K.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z11lFc-K.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1JlFc-K.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLBT5Z11lFc-K.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLBT5Z1JlFc-K.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLBT5Z1xlFQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  font-family: "Poppins";
}

.body {
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.carousel-control-prev {
  display: none;
}

.carousel-control-next {
  background-color: rgba(255, 255, 255, 0.24);
  border-radius: 50%;
  width: 2.8rem;
  height: 2.8rem;
  position: absolute;
  top: 50%;
  right: 8%;
}

.carousel-item-body h2 {
  color: #fff;
  font-size: 43px;
  line-height: 61px;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 10%;
  width: 684px;
  height: 183px;
}

.carousel-item-body h2 span {
  color: #ffc266;
}

#about {
  padding: 70px 0;
}

#about .about__main h2 {
  color: #335c67;
  margin-bottom: 30px;
  text-align: center;
  font-size: 48px;
  line-height: 72px;
  font-weight: 700;
}

@media only screen and (max-width: 992px) {
  #about .about__main h2 {
    font-size: 40px;
    line-height: 36px;
  }
}

@media only screen and (max-width: 768px) {
  #about .about__main h2 {
    font-size: 30px;
  }
}

#about .about__main .about_content {
  color: rgba(0, 0, 0, 0.9);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: justify;
}

@media only screen and (max-width: 992px) {
  #about .about__main .about_content {
    font-size: 14px;
    line-height: 21px;
  }
}

#services .services_head h2 {
  color: #335c67;
  margin-bottom: 30px;
  text-align: center;
  font-size: 48px;
  line-height: 72px;
  font-weight: 700;
}

@media only screen and (max-width: 992px) {
  #services .services_head h2 {
    font-size: 40px;
    line-height: 36px;
  }
}

@media only screen and (max-width: 768px) {
  #services .services_head h2 {
    font-size: 30px;
  }
}

#services .services_card {
  width: 100%;
  height: 285px;
  border: 1px solid #fff;
  border-radius: 14px;
  background-color: #335c67;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 15px 40px 45px;
  margin-bottom: 40px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  color: #fff;
  cursor: pointer;
}

@media only screen and (max-width: 992px) {
  #services .services_card {
    padding: 35px 5px 10px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}

#services .services_card:hover {
  background-color: #fff;
  -webkit-box-shadow: 0 11px 28px 0 rgba(14, 13, 13, 0.11);
          box-shadow: 0 11px 28px 0 rgba(14, 13, 13, 0.11);
}

#services .services_card:hover h5 {
  color: #cec27b;
}

#services .services_card:hover p {
  color: rgba(0, 0, 0, 0.69);
}

#services .services_card h5 {
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  margin-bottom: 22px;
  margin-top: 15px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

#services .services_card p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin: 0 15px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

@media only screen and (max-width: 992px) {
  #services .services_card p {
    display: none;
  }
}

#services .services_card .services_card_arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #cec27b;
  margin-top: 35px;
  position: absolute;
  -webkit-transform: translateY(209px);
          transform: translateY(209px);
}

@media only screen and (max-width: 992px) {
  #services .services_card .services_card_arrow {
    display: none;
  }
}

#services .services_more {
  width: 97px;
  height: 47px;
  border: 1px solid #335c67;
  border-radius: 14px;
  background-color: #fff;
  margin: 0 auto 100px;
  padding: 8px 2px 5px;
}

#services .services_more .services_more_button {
  text-align: center;
}

#services .services_more .services_more_button a {
  color: #335c67;
  font-size: 18px;
  font-weight: 600;
}

#partners {
  padding-bottom: 60px;
}

#partners .partners_head h2 {
  color: #335c67;
  margin-bottom: 30px;
  text-align: center;
  font-size: 48px;
  line-height: 72px;
  font-weight: 700;
}

@media only screen and (max-width: 992px) {
  #partners .partners_head h2 {
    font-size: 40px;
    line-height: 36px;
  }
}

@media only screen and (max-width: 768px) {
  #partners .partners_head h2 {
    font-size: 30px;
  }
}

#partners img {
  width: 100%;
}
/*# sourceMappingURL=main.css.map */